<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Contacts</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css">
    <script type="text/javascript" src="/resources//resources/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/resources//resources/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <table class="table  table-condensed table-responsive table-hover" id="records_table">
        <thead class="alert-info">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">HomePhone</th>
            <th scope="col">CellPhone</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function() {
        loadContact();
    });
    function loadContact(){
        $.ajax(
            {
                url: "/app/phonebook/list",
                method:"GET",
                dataType: 'json',
                success: function (data,status,xhr) {   // success callback function
                    var json_str = JSON.stringify(data);
                    var json_data = JSON.parse(json_str);
                    $('#records_table').find("tr:gt(0)").remove();
                    $.each (json_data, function (i, item) {
                        var $tr = $('<tr>').append(
                            $('<td>').text(item.name),
                             $('<td>').text(item.family),
                            $('<td>').text(item.mobile),
                            $('<td>').text(item.email),
                             $('<td>').text(item.tel)

                        ).appendTo('#records_table');
                    });
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $('#result').append('Error: ' + textStatus + errorMessage);
                }
            });
    };



</script>
</body>
</html>
